{{ if eq .chezmoi.os "windows" -}}

$ErrorActionPreference = "Stop"

$Content = @"
{{- if eq (env "CI") "true" }}
# Update PATH
$env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")
{{- end }}
# fnm
fnm env --use-on-cd --shell powershell | Out-String | Invoke-Expression
"@

if (!(Test-Path -Path $Profile.CurrentUserCurrentHost)) {
  New-Item -ItemType File -Path $Profile.CurrentUserCurrentHost -Force
}

Set-Content -Path $Profile.CurrentUserCurrentHost -Value $Content

{{ end }}
