README.md
.editorconfig
bootstrap.sh
scripts
1pass-mock

{{ if eq .chezmoi.os "windows" -}}

{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
.wslconfig
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
.wslconfig
{{ end -}}
