init-author-name=Asa
init-author-email=npm@a01sa01to.com
init-license=MIT

//registry.npmjs.org/:_authToken={{ onepasswordRead "op://Personal/uoavqnix74ounlwilk7k6ddqwq/credential" }}
//npm.pkg.github.com/:_authToken={{ onepasswordRead "op://Personal/357avqsnakwlqcr2em6y2pv5yq/credential" }}
