init-author-name=Asa
init-author-email=npm@a01sa01to.com
init-license=MIT

//registry.npmjs.org/:_authToken={{ onepasswordRead "op://go2zdfj7fus4mi6frn2bd627e4/cil3uwebaqpbfkvrponqfoh3my/credential" }}
//npm.pkg.github.com/:_authToken={{ onepasswordRead "op://go2zdfj7fus4mi6frn2bd627e4/6arhavps7xtf3igmnusjkojzoy/credential" }}
