{{ if eq .chezmoi.os "linux" -}}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}

#!/bin/sh

set -ex

sudo apt update

sudo apt upgrade

sudo apt autoremove

{{   end -}}
{{ end -}}
