{{ if eq .chezmoi.os "windows" -}}

$ErrorActionPreference = "Stop"
Set-PSDebug -Trace 1

# ----- gh CLI ----- #
# https://github.com/cli/cli/blob/trunk/docs/install_windows.md
winget install --id GitHub.cli
{{ if ne (env "CI") "true" -}}
  gh auth login
{{- end }}

# ----- Rust ----- #
winget install -e --id Rustlang.Rustup

# ----- fnm ----- #
# https://github.com/Schniz/fnm?tab=readme-ov-file#using-cargo-linuxmacoswindows
cargo install fnm

Set-PSDebug -Trace 0

{{ end -}}
