{{ if eq .chezmoi.os "windows" -}}

$ErrorActionPreference = "Stop"
Set-PSDebug -Trace 1

# ----- gh CLI ----- #
# https://github.com/cli/cli/blob/trunk/docs/install_windows.md
winget install --id GitHub.cli
{{ if ne (env "CI") "true" -}}
  gh auth login
{{- end }}

# ----- fnm ----- #
# https://github.com/Schniz/fnm?tab=readme-ov-file#using-winget-windows
winget install Schniz.fnm
# TODO: Shell setup は pwsh profile に書く
fnm env --use-on-cd --shell powershell | Out-String | Invoke-Expression

Set-PSDebug -Trace 0

{{ end -}}
