{{ if eq .chezmoi.os "darwin" -}}

#!/bin/sh
set -ex

# ----- gh CLI ----- #
# https://github.com/cli/cli/blob/trunk/docs/install_macos.md
brew install gh
{{ if ne (env "CI") "true" -}}
  gh auth login
{{- end }}

# ----- fnm ----- #
# https://github.com/Schniz/fnm?tab=readme-ov-file#using-homebrew-macoslinux
brew install fnm
# TODO: Shell setup は .zshrc に書く
eval "$(fnm env --use-on-cd --shell zsh)"

{{ end -}}
