{{ if eq .chezmoi.os "linux" -}}
{{   if not (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}

#!/usr/bin/env bash
set -ex

# source .bashrc だと "If not running interactively, don't do anything" なので直接書く
export PATH="$HOME/.cargo/bin:$PATH"
eval "$(fnm env --use-on-cd --shell bash)"

# ----- Common commands ----- #
{{- range (.common_after_commands) }}
{{ . }}
{{- end }}

{{   end -}}
{{ end -}}
