{{ if eq .chezmoi.os "linux" -}}
{{   if not (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}

#!/usr/bin/env bash
set -ex

source ~/.profile

# ----- Common commands ----- #
{{- range (.common_after_commands) }}
{{ . }}
{{- end }}

{{   end -}}
{{ end -}}
